/* Sidebar */
.sidebar {
  transition: width 0.3s ease;
  flex-shrink: 0; /* Prevent sidebar from shrinking */
}

/* Navbar */
.header {
  background: transparent;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 8px;
}

.search-bar button {
  background: #1890ff;
  color: white;
  border: none;
}

/* Layout adjustments */
.ant-layout {
  background-color: #f0f0f0;
}


.ant-layout-content {
  padding: 20px;
  background: #fff;
}

/* Responsive Design for screen widths below 768px */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Sidebar width on smaller screens */
  }

  .search-bar input {
    width: 100px; /* Adjust input width on smaller screens */
  }

  .search-bar button {
    display: none; /* Hide button on smaller screens */
  }
}

@media (max-width: 480px) {
  .menu-button {
    font-size: 14px;
  }

  .search-bar input {
    width: 80px;
  }
}
